In [1]:
Text = "I am learning NLP"

In [2]:
# Importing the library
import pandas as pd
# Generating the features
pd.get_dummies(Text.split())

   I  NLP  am  learning
0  1    0   0         0
1  0    0   1         0
2  0    0   0         1
3  0    1   0         0

In [3]:
text = ["i love NLP and i will learn NLP in 2month"]
# single characters are ignored by count vectorizer

In [4]:
text = ["i love NLP and i will learn NLP in 2month"]
# single characters are ignored by count vectorizer

In [5]:
from sklearn.feature_extraction.text import CountVectorizer
vectorizer = CountVectorizer()
vectorizer.fit(text)
vector = vectorizer.transform(text)

In [6]:
print(vectorizer.vocabulary_)
print(vector.toarray())

{'love': 4, 'nlp': 5, 'and': 1, 'will': 6, 'learn': 3, 'in': 2, '2month': 0}
[[1 1 1 1 1 2 1]]

In [7]:
CountVectorizer?

In [8]:
print(vector)

  (0, 0)	1
  (0, 1)	1
  (0, 2)	1
  (0, 3)	1
  (0, 4)	1
  (0, 5)	2
  (0, 6)	1

In [9]:
df = pd.DataFrame(data=vector.toarray(), columns=vectorizer.get_feature_names_out() )
df

   2month  and  in  learn  love  nlp  will
0       1    1   1      1     1    2     1

In [10]:
text = 'I am learning NLP'

In [11]:
from textblob import TextBlob
#For unigram : Use n = 1
TextBlob(text).ngrams(1)

[WordList(['I']), WordList(['am']), WordList(['learning']), WordList(['NLP'])]

In [12]:
#For Bigram : For bigrams, use n = 2
TextBlob(text).ngrams(2)

[WordList(['I', 'am']),
 WordList(['am', 'learning']),
 WordList(['learning', 'NLP'])]

In [14]:
TextBlob(text).ngrams(3)

[WordList(['I', 'am', 'learning']), WordList(['am', 'learning', 'NLP'])]

In [15]:
TextBlob(text).ngrams(4)

[WordList(['I', 'am', 'learning', 'NLP'])]

In [16]:
Text = ["The quick brown fox jumped over the lazy dog.", "The dog.", "The fox"]

In [17]:
#Import TfidfVectorizer
from sklearn.feature_extraction.text import TfidfVectorizer
#Create the transform
vectorizer = TfidfVectorizer()
#Tokenize and build vocab
vectorizer.fit(Text)
#Summarize
print(vectorizer.vocabulary_)
print(vectorizer.idf_)

{'the': 7, 'quick': 6, 'brown': 0, 'fox': 2, 'jumped': 3, 'over': 5, 'lazy': 4, 'dog': 1}
[1.69314718 1.28768207 1.28768207 1.69314718 1.69314718 1.69314718
 1.69314718 1.        ]